# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized

#### Objectives:
* Listing popular languages, libraries, and open source tools.
* Examples of markdown styles and headers
* Examples of markdown tables
* Examples of arithmetic expressions

#### Some of the popular languages that Data Scientists use are:
 1. python
 2. R
 3. C++

#### Some commonly used libraries used by Data Scientists include:
1. MunPy
2. Scikit-learn
3. pandas

Data Science Tools | 
---:|
Pandas |
Hadoop | 
Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
x = 3
y = 4
z = x+y
print(z)

7

In [2]:
# This is a simple arithmetic expression to multiply then add integers
z=(3*4)+5
print(z)

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
min = 200
hours = 200 / 60
print (hours)

3.3333333333333335